.contenedor {
    height: 100vh;
    width: 100vh; 
}

.contenedor-img {
    height: 100vh;
    width: 112rem; 
    position: relative;
}


.contenedor-img img {
    height: 100%;
    width: 100%;
    
}

.contenedor-buttom {
    position: absolute;
    top: 45%;
    left: 100px;
    padding: 0 30px;
    transform: translateY(-50%);
    text-shadow: 0px 0px 10px black, 0px 0px 50px black;
}

a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 3px solid white;
    padding: 10px 35px;
    transition: background-color 200ms ease;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
a:hover {
    background-color: white;
    color: black;
    text-shadow: none;
}
h2 {
    color: #104e39;
    margin-bottom: 45px;
    font-size: 70px;
    
}
span {
    color: blanchedalmond;
    background-color: #104e39;
    border: 1px solid black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    padding: 5px;
}
 span sub {
     color: blanchedalmond;
     font-size: 3px;
     top: 53px;
     position: absolute;
 }


.first {
    left: 93px;
}
.second {
    right: 78px;
}